<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman" default="rose"/>
    <arg name="local" default="true" doc="true for running on laptop. false for running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman. Note that you will need a megaman.yaml in the config folder for every node you are launching. To test with only one megaman.yaml, the recommendation is to set this to default and then manually change the desired param file in the approprate rosparam tag below"/> 
    <arg name="drive" default="true"/>
    <arg name="live" default="true" doc="if set to true, run the camera and do live detection. "/>

    <!-- lane filter -->
    <include file="$(find duckiebot_control)/launch/gazebo_lane_filter.launch">
    	<arg name="veh" value="$(arg veh)"/>
	     <arg name="local" value="$(arg local)"/>
	     <arg name="config" value="$(arg config)"/>
	     <arg name="param_file_name" value="$(arg param_file_name)"/>
	     <arg name="live" value="$(arg live)"/>
    </include>

    <!-- Lane controller -->
    <remap from="~lane_pose" to="lane_filter_node/lane_pose"/>
    <remap from="~cmd_vel" to="/$(arg veh)/$(arg veh)/velocity_controller/cmd_vel"/>
    <include file="$(find gazebo_lane_control_node)/launch/gazebo_lane_controller_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>        
    </include>

</launch>
