<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	
	
	<!-- Spawn the follower car with control node -->
        <include file="$(find duckiebot_control)/launch/gazebo_lane_following_david.launch">
        </include>

  <!-- Spawn the leader car with control node -->
        <include file="$(find duckiebot_control)/launch/gazebo_lane_following.launch">
        </include>

	<remap from="~cmd" to="david/david/velocity_controller/cmd_vel"/>
	<remap from="~lane_pose" to="/david/lane_filter_node/lane_pose"/>
	<remap from="~collision" to="/rose/state_bumper"/>
	
	<node name="rl_lane_following_node" pkg="rl_duckietown" type="visualize_continuous_duckie_overtaking.py" output="screen" clear_params="true" required="true">
	</node>


</launch>	
