<?xml version="1.0"?>

<model>
  <name>Open House Dp6</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.5">model-1_4.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Kenny</name>
    <email>ojoo432@gmail.com</email>
  </author>

  <description>
    The map of MIT duckietown
  </description>
</model>

