<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_name" default="david"/>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.24" />
  <arg name="local" default="true" />
 

  <!-- Spawning a duckibot at the coordinates indicated-->
  <param name="robot_description" textfile="$(find mobile_bot)/urdf/mobile_bot_$(arg robot_name).urdf" />
  <node name="mount_spawn_$(arg robot_name)" pkg="gazebo_ros" type="spawn_model" output="screen"  
  args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model duckiebot_$(arg robot_name) -param robot_description" respawn="false"/>
  
  <rosparam command="load" file="$(find mobile_bot)/config/mobile_bot_$(arg robot_name).yaml"  />
  <node name="controller_spawner_$(arg robot_name)" pkg="controller_manager" type="spawner"
    respawn="true" args=" $(arg robot_name)/joint_publisher $(arg robot_name)/velocity_controller" output="screen"/> 
  
</launch>
